In [1]:
import pandas as pd
from tqdm import tqdm

In [3]:
df_be1 = pd.read_csv("./7_featurecounts/BE2-shMETTL14-1-IP_fwd_peaks_peaks_merged.csv")
df_be2 = pd.read_csv("./7_featurecounts/BE2-shMETTL14-1-IP_rev_peaks_peaks_merged.csv")
df_be1["name"] = "shMETTL14-1"
df_be2["name"] = "shMETTL14-1"
df_be1["Strand"] = "-"
df_be2["Strand"] = "+"

df_be3 = pd.read_csv("./7_featurecounts/BE2-shMETTL14-2-IP_fwd_peaks_peaks_merged.csv")
df_be4 = pd.read_csv("./7_featurecounts/BE2-shMETTL14-2-IP_rev_peaks_peaks_merged.csv")
df_be3["name"] = "shMETTL14-2"
df_be4["name"] = "shMETTL14-2"
df_be3["Strand"] = "-"
df_be4["Strand"] = "+"

df_be5 = pd.read_csv("./7_featurecounts/BE2-shNC-1-IP_fwd_peaks_peaks_merged.csv")
df_be6 = pd.read_csv("./7_featurecounts/BE2-shNC-1-IP_rev_peaks_peaks_merged.csv")
df_be5["name"] = "shNC-1"
df_be6["name"] = "shNC-1"
df_be5["Strand"] = "-"
df_be6["Strand"] = "+"

df_be7 = pd.read_csv("./7_featurecounts/BE2-shNC-2-IP_fwd_peaks_peaks_merged.csv")
df_be8 = pd.read_csv("./7_featurecounts/BE2-shNC-2-IP_rev_peaks_peaks_merged.csv")
df_be7["name"] = "shNC-2"
df_be8["name"] = "shNC-2"
df_be7["Strand"] = "-"
df_be8["Strand"] = "+"

df_be_merge = pd.concat([
    df_be1[["name", "Chr", "Start", "End", "Strand", "Length", "IP/input", "kmers", "Site"]], 
    df_be2[["name", "Chr", "Start", "End", "Strand", "Length", "IP/input", "kmers", "Site"]],
    df_be3[["name", "Chr", "Start", "End", "Strand", "Length", "IP/input", "kmers", "Site"]],
    df_be4[["name", "Chr", "Start", "End", "Strand", "Length", "IP/input", "kmers", "Site"]],
    df_be5[["name", "Chr", "Start", "End", "Strand", "Length", "IP/input", "kmers", "Site"]],
    df_be6[["name", "Chr", "Start", "End", "Strand", "Length", "IP/input", "kmers", "Site"]],
    df_be7[["name", "Chr", "Start", "End", "Strand", "Length", "IP/input", "kmers", "Site"]],
    df_be8[["name", "Chr", "Start", "End", "Strand", "Length", "IP/input", "kmers", "Site"]]
    ], axis=0, ignore_index=True)

df_be_merge.to_csv("./7_featurecounts/BE2_merged_all.csv", sep='\t', index=False)

In [3]:
gene_exon_fpkm_df = pd.read_csv('./7_featurecounts_rna/gene_exon_counts_with_fpkm.csv', sep='\t')
m6a_merged_cpm_df = pd.read_csv('./7_featurecounts/BE2_merged_all.csv', sep='\t')
mane_gene_feature_df = pd.read_csv("./7_MANE_Gene_mRNA_feature_df.csv", sep=',')

In [4]:
gene_exon_fpkm_df

,Gene,Length,Chr,Strand,FPKM_BE2-shMETTL14-1-input.bam,FPKM_BE2-shMETTL14-2-input.bam,FPKM_BE2-shNC-1-input.bam,FPKM_BE2-shNC-2-input.bam
0,PRDM16,9767,chr1,+,0.000000,0.000116,0.000070,0.000000
1,PEX10,3782,chr1,-,0.039084,0.039496,0.044375,0.039680
2,PEX14,2932,chr1,+,0.056591,0.053069,0.053982,0.066880
3,PLCH2,10809,chr1,+,0.001081,0.000890,0.001136,0.000987
4,SPSB1,3389,chr1,+,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...
19453,MT-ND4L,297,chrMT,+,4.223498,3.840684,4.391907,4.365662
19454,MT-ND4,1378,chrMT,+,16.280911,14.945236,15.021618,15.023904
19455,MT-ND5,1812,chrMT,+,21.163810,25.198442,18.368244,19.175196
19456,MT-ND6,525,chrMT,-,24.834405,25.760212,27.141790,27.312991
19457,MT-CYB,1141,chrMT,+,8.144643,7.844051,6.834713,6.808301

In [5]:
mane_gene_feature_df

,Unnamed: 0,Gene,Chr,Data_set,Type,Start,End,Strand,Exon_number,Length,transcript_length,Element_Sequences,Refseq_id,Stitched_mRNA_sequence,Transcript_id,5'UTR,CDS,3'UTR
0,0,A1BG,chr19,ensembl_havana,5'UTR,58353438,58353492,-,NaN,55,3382,ATTGCTGCAGACGCTCACCCCAGACACTCACTGCACCGGAGTGAGC...,NM_130786.4:NP_570602.2,ATTGCTGCAGACGCTCACCCCAGACACTCACTGCACCGGAGTGAGC...,ENST00000263100.8,ATTGCTGCAGACGCTCACCCCAGACACTCACTGCACCGGAGTGAGC...,ATGTCCATGCTCGTGGTCTTTCTCTTGCTGTGGGGTGTCACCTGGG...,TGATGCAGCCGCGGGCCCAGGGTGCTGTTGGTGTCCTCAGAAGTGC...
1,1,A1BG,chr19,ensembl_havana,First_exon_include_Start_codon,58353404,58353437,-,1.0,34,3382,ATGTCCATGCTCGTGGTCTTTCTCTTGCTGTGGG,NM_130786.4:NP_570602.2,ATTGCTGCAGACGCTCACCCCAGACACTCACTGCACCGGAGTGAGC...,ENST00000263100.8,ATTGCTGCAGACGCTCACCCCAGACACTCACTGCACCGGAGTGAGC...,ATGTCCATGCTCGTGGTCTTTCTCTTGCTGTGGGGTGTCACCTGGG...,TGATGCAGCCGCGGGCCCAGGGTGCTGTTGGTGTCCTCAGAAGTGC...
2,2,A1BG,chr19,ensembl_havana,start_codon,58353435,58353437,-,NaN,3,3382,ATG,NM_130786.4:NP_570602.2,ATTGCTGCAGACGCTCACCCCAGACACTCACTGCACCGGAGTGAGC...,ENST00000263100.8,ATTGCTGCAGACGCTCACCCCAGACACTCACTGCACCGGAGTGAGC...,ATGTCCATGCTCGTGGTCTTTCTCTTGCTGTGGGGTGTCACCTGGG...,TGATGCAGCCGCGGGCCCAGGGTGCTGTTGGTGTCCTCAGAAGTGC...
3,3,A1BG,chr19,ensembl_havana,CDS_exon,58353292,58353327,-,2.0,36,3382,GTGTCACCTGGGGCCCAGTGACAGAAGCAGCCATAT,NM_130786.4:NP_570602.2,ATTGCTGCAGACGCTCACCCCAGACACTCACTGCACCGGAGTGAGC...,ENST00000263100.8,ATTGCTGCAGACGCTCACCCCAGACACTCACTGCACCGGAGTGAGC...,ATGTCCATGCTCGTGGTCTTTCTCTTGCTGTGGGGTGTCACCTGGG...,TGATGCAGCCGCGGGCCCAGGGTGCTGTTGGTGTCCTCAGAAGTGC...
4,4,A1BG,chr19,ensembl_havana,CDS_exon,58352928,58353197,-,3.0,270,3382,TTTATGAGACGCAGCCCAGCCTGTGGGCAGAGTCCGAATCACTGCT...,NM_130786.4:NP_570602.2,ATTGCTGCAGACGCTCACCCCAGACACTCACTGCACCGGAGTGAGC...,ENST00000263100.8,ATTGCTGCAGACGCTCACCCCAGACACTCACTGCACCGGAGTGAGC...,ATGTCCATGCTCGTGGTCTTTCTCTTGCTGTGGGGTGTCACCTGGG...,TGATGCAGCCGCGGGCCCAGGGTGCTGTTGGTGTCCTCAGAAGTGC...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278512,278512,ZZZ3,chr1,ensembl_havana,CDS_exon,77568332,77568466,-,9.0,135,6412,GATGACGAAAGTATTCCTATCATGTATAGGAATTTACCTGAATATA...,NM_015534.6:NP_056349.1,GTTGGCAGAGCAGTTGTCCTGGATGGCGGAGCCTTGGGTTCCGGGG...,ENST00000370801.8,GTTGGCAGAGCAGTTGTCCTGGATGGCGGAGCCTTGGGTTCCGGGG...,ATGGCTGCTTCCCGATCTACTCGTGTTACAAGATCAACAGTGGGGT...,TGACATGGAAGAGAACATCATTTACTAGTCCTCTTCAACACATAGC...
278513,278513,ZZZ3,chr1,ensembl_havana,CDS_exon,77566081,77566181,-,10.0,101,6412,TGTGATAACTGTGGCATAGAACCCATCCAGGGTGTTCGGTGGCATT...,NM_015534.6:NP_056349.1,GTTGGCAGAGCAGTTGTCCTGGATGGCGGAGCCTTGGGTTCCGGGG...,ENST00000370801.8,GTTGGCAGAGCAGTTGTCCTGGATGGCGGAGCCTTGGGTTCCGGGG...,ATGGCTGCTTCCCGATCTACTCGTGTTACAAGATCAACAGTGGGGT...,TGACATGGAAGAGAACATCATTTACTAGTCCTCTTCAACACATAGC...
278514,278514,ZZZ3,chr1,ensembl_havana,Last_exon,77565643,77565784,-,11.0,142,6412,TCTACATGAAACAGATATTCACAAGGAAGATCACCAATTAGAACCT...,NM_015534.6:NP_056349.1,GTTGGCAGAGCAGTTGTCCTGGATGGCGGAGCCTTGGGTTCCGGGG...,ENST00000370801.8,GTTGGCAGAGCAGTTGTCCTGGATGGCGGAGCCTTGGGTTCCGGGG...,ATGGCTGCTTCCCGATCTACTCGTGTTACAAGATCAACAGTGGGGT...,TGACATGGAAGAGAACATCATTTACTAGTCCTCTTCAACACATAGC...
278515,278515,ZZZ3,chr1,ensembl_havana,stop_codon,77565640,77565642,-,NaN,3,6412,TGA,NM_015534.6:NP_056349.1,GTTGGCAGAGCAGTTGTCCTGGATGGCGGAGCCTTGGGTTCCGGGG...,ENST00000370801.8,GTTGGCAGAGCAGTTGTCCTGGATGGCGGAGCCTTGGGTTCCGGGG...,ATGGCTGCTTCCCGATCTACTCGTGTTACAAGATCAACAGTGGGGT...,TGACATGGAAGAGAACATCATTTACTAGTCCTCTTCAACACATAGC...
278516,278516,ZZZ3,chr1,ensembl_havana,3'UTR_include_Stop_Codon,77562416,77565642,-,NaN,3227,6412,TGACATGGAAGAGAACATCATTTACTAGTCCTCTTCAACACATAGC...,NM_015534.6:NP_056349.1,GTTGGCAGAGCAGTTGTCCTGGATGGCGGAGCCTTGGGTTCCGGGG...,ENST00000370801.8,GTTGGCAGAGCAGTTGTCCTGGATGGCGGAGCCTTGGGTTCCGGGG...,ATGGCTGCTTCCCGATCTACTCGTGTTACAAGATCAACAGTGGGGT...,TGACATGGAAGAGAACATCATTTACTAGTCCTCTTCAACACATAGC...

In [6]:
m6a_merged_cpm_df

,name,Chr,Start,End,Strand,Length,IP/input,kmers,Site
0,shMETTL14-1,chr1,956940,957150,+,211,1.740766,ACAGAATTCTTCTTCCCCTTCAGCCCTCTGGGG6CTCTGTCCCCAT...,"[957060, 956971]"
1,shMETTL14-1,chr1,1100557,1100762,+,206,1.187554,GGTGCTGAGCTTTGGCAAGTGTATAATG6CACTATCGTTGGATTTC...,[1100583]
2,shMETTL14-1,chr1,1228322,1228533,+,212,2.995449,AAGTGGCGCTCATCACCGGCACGTCTTCCCAGCCCGGCAGGTCCCG...,"[1228409, 1228431, 1228478]"
3,shMETTL14-1,chr1,1312747,1312951,+,205,2.615706,GACCCGAGGTGGGCCCCACGCCGCCCGCCCGGCTGCCTACGGAGCT...,"[1312815, 1312917, 1312940]"
4,shMETTL14-1,chr1,1386979,1387414,+,436,1.757797,GCTGAGCCCTGCACGGGCCCAGGTGTGCGCCGCACCCCAG6CCGGT...,"[1387085, 1387017, 1387397, 1387113, 1387375, ..."
...,...,...,...,...,...,...,...,...,...
35024,shNC-2,chr6,152612016,152612321,-,306,4.408457,TGGTGATATCCCCTTTATCATTTTTTATTGCATCTGTTTGATTCTT...,[152612122]
35025,shNC-2,chr6,154832613,154833460,-,848,3.060483,AGCCATTATCTATTACAGAGAGATG6CAACTTTACAAAAGGTATCT...,"[154832908, 154833440, 154833119, 154833166, 1..."
35026,shNC-2,chr6,154833725,154833945,-,221,48.919655,GGA6CAAATCACAA6CACTTACTTTGGAGAA6CAGAG6CCGTAGTG...,"[154833737, 154833754, 154833760, 154833726, 1..."
35027,shNC-2,chr6,156778066,156778307,-,242,7.415899,CTGCTGCTGCTGCTGTTGCTGCTGCTGCTGCTGCTGCTGGA6CTGG...,[156778105]
35028,shNC-2,chr6,157200929,157201167,-,239,3.575523,ACGACATATAAGGCTGACGCTGGCTGACGTGAGAAGGCCACTGGCT...,[]

#### 根据mane gene数据对gene_exon_fpkm数据进行提取合并

In [7]:
# 只选择需要的列进行merge
mane_gene_feature_df_subset = mane_gene_feature_df[["Gene", "Chr", "Strand", "Stitched_mRNA_sequence", "5'UTR", "CDS", "3'UTR"]]

# 按行去重
mane_gene_feature_df_subset = mane_gene_feature_df_subset.drop_duplicates()

# 进行合并操作，保留gene_exon_fpkm_df中的所有行
merge_rna_mane_gene = gene_exon_fpkm_df.merge(mane_gene_feature_df_subset, on=["Gene", "Chr", "Strand"], how="left")

# 删除没有匹配到的行（即包含NaN值的行）
merge_rna_mane_gene = merge_rna_mane_gene.dropna(subset=["Stitched_mRNA_sequence", "5'UTR", "CDS", "3'UTR"])

In [8]:
merge_rna_mane_gene.to_csv("./data/merge_rna_mane_gene.csv")

In [ ]:
merge_rna_mane_gene

#### 根据mane gene数据对m6a_merged_cpm_df进行提取合并

In [9]:
# 初始化新的列
m6a_merged_cpm_df["Gene"] = None
m6a_merged_cpm_df["m6a_position"] = None

# 将Site列的字符串转为列表
m6a_merged_cpm_df['Site'] = m6a_merged_cpm_df['Site'].apply(eval)

In [10]:
# 遍历m6a_merged_cpm_df
for idx, row in tqdm(m6a_merged_cpm_df.iterrows()):
    gene_matches = []
    positions = []
    
    match = mane_gene_feature_df[
        (mane_gene_feature_df['Chr'] == row['Chr']) &
        (mane_gene_feature_df['Strand'] == row['Strand'])
    ]

    for site in row['Site']:

        for _, gene_row in match.iterrows():
            gene_start = gene_row['Start']
            gene_end = gene_row['End']

            if gene_start <= site <= gene_end:
                print(f"{site} is match")
                
                gene_matches.append(gene_row['Gene'])
                positions.append(site - gene_start)
                break
         
                
    if gene_matches:
        m6a_merged_cpm_df.at[idx, 'Gene'] = gene_matches[0]
        m6a_merged_cpm_df.at[idx, 'm6a_position'] = positions

229it [03:46,  1.33it/s]

169853502 is match
169853461 is match
169853370 is match

370it [06:21,  1.04it/s]

244842040 is match

505it [07:25,  4.35it/s]

95873406 is match
95874039 is match
95874093 is match
95874180 is match
95874029 is match
95874146 is match
95874130 is match

506it [07:25,  4.47it/s]

95875218 is match
95875369 is match
95875507 is match
95875426 is match
95875441 is match
95875232 is match
95875374 is match

588it [08:00,  2.02it/s]

6497784 is match

589it [08:01,  2.12it/s]

6497877 is match
6497852 is match
6497828 is match

610it [08:11,  1.96it/s]

19713245 is match
19713162 is match
19713266 is match

611it [08:11,  2.24it/s]

19713106 is match

623it [08:18,  2.03it/s]

47573380 is match
47573442 is match

663it [08:42,  2.16it/s]

62790385 is match
62790398 is match

664it [08:42,  1.95it/s]

62790353 is match

764it [09:35,  1.67it/s]

112085148 is match

767it [09:37,  1.20it/s]

117285868 is match
117285804 is match
117285812 is match

768it [09:38,  1.41it/s]

117285950 is match

907it [10:45,  2.15it/s]

75501657 is match
75501905 is match
75501696 is match
75501618 is match
75501882 is match

908it [10:45,  2.23it/s]

75503846 is match

1028it [11:50,  2.05it/s]

123932060 is match

1029it [11:50,  2.13it/s]

123932039 is match

1123it [12:16,  6.67it/s]

93227155 is match
93227134 is match
93227115 is match

1171it [12:26,  5.49it/s]

31025762 is match
31025738 is match

1197it [12:35,  2.60it/s]

49785076 is match
49784980 is match
49785050 is match

1476it [13:57,  5.64it/s]

78590380 is match
78590191 is match
78590362 is match
78590266 is match

1496it [14:03,  4.14it/s]

1349314 is match
1349320 is match

1520it [14:13,  2.80it/s]

5085168 is match
5084996 is match
5085035 is match
5085157 is match
5085146 is match

1525it [14:16,  1.89it/s]

10929346 is match
10929187 is match
10929325 is match
10929398 is match

1540it [14:21,  2.39it/s]

19114508 is match

1722it [15:36,  2.79it/s]

28398110 is match
28398126 is match
28398138 is match

1723it [15:37,  2.42it/s]

28398092 is match
28398022 is match
28398309 is match

1827it [16:36,  1.32it/s]

73208419 is match
73208371 is match
73208391 is match
73208449 is match
73208343 is match

1828it [16:37,  1.07it/s]

73208441 is match

2154it [19:04,  1.88it/s]

KeyboardInterrupt:

In [14]:
m6a_merged_cpm_df

,name,Chr,Start,End,Strand,Length,IP/input,kmers,Site,Gene,m6a_position
34929,shNC-2,chr6,57147603,57147842,-,240,2.102651,GGCTTGTTAGCAGTCAAATTATCCAATGTTGTAGAGGATGATGGCA...,"[57147979, 57148062]",None,None
34930,shNC-2,chr6,57148121,57148786,-,666,1.818664,ACCCTGTTTCTTGCTTCAAAATTGAATCGAGGTGGGTACATTGTAA...,"[57149228, 57148926, 57148988, 57149217, 57149...",None,None
34931,shNC-2,chr6,57169858,57170107,-,250,1.656749,AACAGTCATGATGAAATATCCCTTTCCTGTCTTATCAGAAGCCTTA...,"[57170274, 57170352]",None,None
34932,shNC-2,chr6,57193380,57193580,-,201,1.930008,TTTATA6CAGTTATTCTTCTGAATCTGTACTTACACTGGCTCTTAC...,"[57193697, 57193717, 57193584, 57193746, 57193...",None,None
34933,shNC-2,chr6,63680097,63680299,-,203,1.882470,TCTCAAA6CTGATTGCCATCAAAACGAATGGATTAGCAAA6CATCA...,"[63680337, 63680304, 63680416, 63680380, 63680...",None,None
...,...,...,...,...,...,...,...,...,...,...,...
35024,shNC-2,chr6,152612016,152612321,-,306,4.408457,TGGTGATATCCCCTTTATCATTTTTTATTGCATCTGTTTGATTCTT...,[152612427],None,None
35025,shNC-2,chr6,154832613,154833460,-,848,3.060483,AGCCATTATCTATTACAGAGAGATG6CAACTTTACAAAAGGTATCT...,"[154833755, 154834287, 154833966, 154834013, 1...",None,None
35026,shNC-2,chr6,154833725,154833945,-,221,48.919655,GGA6CAAATCACAA6CACTTACTTTGGAGAA6CAGAG6CCGTAGTG...,"[154833957, 154833974, 154833980, 154833946, 1...",None,None
35027,shNC-2,chr6,156778066,156778307,-,242,7.415899,CTGCTGCTGCTGCTGTTGCTGCTGCTGCTGCTGCTGCTGGA6CTGG...,[156778346],None,None
35028,shNC-2,chr6,157200929,157201167,-,239,3.575523,ACGACATATAAGGCTGACGCTGGCTGACGTGAGAAGGCCACTGGCT...,[],None,None

In [ ]:
m6a_merged_cpm_df.to_csv("./data/merge_m6a_mane_gene.csv")